*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
main{
    height: 75vh;
}
header{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: blueviolet;
}
.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
.top{
    height: 100%;
}
.title-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.title-top h3{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}
main{
    width: 100%;
    height: 100%;
}
.entrada-dados{
    display: flex;
    justify-content: center;
    width: 80%;
}
fieldset{
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    border: 3px solid rgb(76, 32, 117);
    border-radius: 15px;
    height: 500px;
    
}
legend{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border: 1px solid rgb(76, 32, 117);
    font-weight: bold;
    border-radius: 8px;
    background-color: rgb(76, 32, 117);
    color: #fff;
}
.input-box{
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: auto;
}
.input-box::-webkit-scrollbar {
    width: 10px;
    background-color: #bf81f8;
  }
.input-box::-webkit-scrollbar-thumb {
  background-color: rgb(76, 32, 117);
  border-radius: 20px;
  height: ;
}
#area-calculo{
    display: flex;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.proventos{
    background-color: #136913;
    padding: 5px 15px;
    font-size: 1.2em;
    border-radius: 7px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 30px 0;
}
.proventos:hover{
    background-color: #1a9b1a;
}
.despesas{
    background-color: #691313;
    padding: 5px 15px;
    font-size: 1.2em;
    border-radius: 7px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 30px 0;
}
.despesas:hover{
    background-color: #9b1a1a;
}
.buttons-input{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#descricao{
    width: 80%;
    margin-right: 10px;
}
#descricao input{
    background-color: #94df94;
    width: 100%;
    height: 25px;
    margin: 3px 0;
    border-radius: 3px;
    padding: 10px;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .9em;
}
#valor{
    width: 15%;
}
#valor input{
    background-color: #cc8383;
    width: 100%;
    height: 25px;
    margin: 3px 0;
    border-radius: 3px;
    padding: 10px;
    border: none;
}
.container-dados{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#calcular{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4em;
    margin: 40px 0;
    cursor: pointer;
    background-color: #ffbc05;
    color: #000;
    border: none;
}
#calcular:hover{
    background-color: #ffc72d;
}


.calcula-resultado{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.calcula-resultado span{
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4C2075;
}
.calcula-resultado #resultado-calculo{
    margin-left: 5px;
    font-size: 1.5em;
    background-color: #ffbc05;
    color: #000;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

footer{
    width: 100%;
    height: 15vh;
    background-color: #4C2075;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .9em;
}
footer span{
    font-weight: bold;
    color: #ffbc05;
    font-size: 1em;
}